
.gitpage{
  display: flex;
  width: 70vw;
  margin-left: 15vw;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.574);
  border-radius: 3px;
  margin-top: 20px;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #F5F8FA;
}
.navbar-left{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar-right{
  display: flex;
  flex-direction: row;
}
.navbar-left>p{
  margin: 20px;
  font-weight: 700;
  color: rgb(48, 48, 48);
}
.navbar-right>p{
  margin: 20px;
  justify-content: space-around;
  font-weight: 600;
  color: rgba(77, 77, 77, 0.792);
}
@media only screen and (max-width: 1100px) {
  .navbar-right>p{
    font-size: 12px;
  }
  .navbar-left>p{
    font-size: 12px;
  }
}

@media only screen and (max-width: 870px) {
  .navbar-right>p{
    font-size: 8px;
  }
  .navbar-left>p{
    font-size: 8px;
  }
}

@media only screen and (max-width: 736px) {
  .navbar-right>p{
    font-size: 6px;
  }
  .navbar-left>p{
    font-size: 6px;
  }
}

.container {
  width: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  border-top: 1px solid grey;
  align-items: left;
  transition: .6s ease;
}
.container:hover{
  transform: scale(1.03);
  border: 1px solid grey;
  background-color: #F5F8FA;
}
.container-lp-mh{
  margin: 10px;
  font-weight: 650;
  width: 40vw;
}
.container-rp{
  display: flex;
  justify-content: center;
}
.container-rp>p{
  font-size: 12px;
  font-weight: 600;
  display: flex;
  margin: 20px;
}
.container-rp>img{
  border-radius: 50%;
  height: 20px;
  margin: 20px;
  margin-right: 50px;
}

.container-lp-sh{
  font-weight: 500;
  margin: 10px;
  font-size: 12px;
  color: #5D666F;
}
